*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: white;
   
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgb(2, 6, 24);
}
h5{
    font-size: 4vw;
}
.continer .head{
    display: flex;
    width: 100%;
    z-index: 10;
    position: fixed;
    gap: 22%;
    justify-content: space-around;
    background-color: rgb(2, 6, 24);
    height: 89px;
    align-items: center;
}
.continer .head .right i{
    display: none;
}

.continer .head .right ul{
    display: flex;
    font-size: 19px;
    gap: 10%;
    justify-content: space-around;
}

.continer .head .left h2{
    color: rgb(240, 121, 10);
    font-size: 34px;
 }
 .continer .head .right ul li a:hover{
    color: rgb(240, 121, 10);
 }
  .body0{
    height: 650px;
    padding-bottom: 1%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .body0 .right img{
    width: 102%;
    height: 414px;
  }

  .body0 .left h2.full{

      color: rgb(240, 121, 10);
    font-weight: 900;
    font-size: 55px;
    padding-bottom: 20px;

  }
  .body0 .right{
    padding: 5%;
  }
  .body0 .left{
    padding: 5%;
  }
  .body0 .left .bot a {
   
    background-color: rgb(240, 121, 10);
   

  }
  .body0 .left .bot {
    padding-top: 2px;
    margin-top: 11%;
    width: 131px;
    background-color: rgb(240, 121, 10);
    height: 30px;
    border-radius: 30px;
    text-align: center;
  }
  .body0 .left .bot:hover{
    transform: scale(1.3);
    transition: .6s;
  }

.body1{
    display: flex;
    gap: 14%;
    justify-content: center;
    align-items: center;
    height: 500px;


}
.body1 .left{
    position: relative;
    left: 10vw;
}

.body1 .right h5{
    color: rgb(240, 121, 10);

}
.body1 .right h2{
    padding-bottom: 3%;
}
 
.body1 .right .learn{
    border-radius: 9px;
    width: 100px;
    text-align: center;
    padding-top: 4px;
    height: 32px;
    background-color: rgb(240, 121, 10);
    margin-top: 4%;
}
.body1 .right .learn a{

    background-color: rgb(240, 121, 10);
}
.body1 .left img{

    width: 346px;
    height: 304px;
}
.body1 .right .learn:hover{
    transform: scale(1.1);
    transition: .3s;
}

.body2{
 margin-bottom: 5%;
}
.body2 .food-menu{

    text-align: center;
    padding-bottom: 5%;

}
.body2 .food-menu h5{

    color: rgb(240, 121, 10);
}




.body2 .images{
    display: flex;
   
 
    justify-content: space-evenly;

}

.body2 .images .squre{
    border-radius: 20px;
    width: 30%;
    background-color: aliceblue;
    
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
   flex-direction: column;
    justify-content: center;
}
.body2 .images .squre img{

    width: 50%;
    
}
.body2 .images .squre .text , .body2 .images .squre .text h2 {
    color: black;
}
.body2 .images .squre .price{
    color: rgb(240, 121, 10);
}
.body2 .images .squre i{
    color: rgb(240, 121, 10);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 42px;
}



.body3{
    margin-bottom: 5%;
}
.body3 .food-menu{

    text-align: center;
    padding-bottom: 5%;

}
.body2 .images .img .rr{
    font-weight: 900;
    text-align: center;
    width: 100%;
    height: 39px;
    position: absolute;
    font-size: 21px;
    bottom: 53px;
    background-color: white;
    color: black;
}
.body2 .images .img .ee{
    width: 100%;
    height: 39px;
    position: absolute;
    bottom: 19px;
    text-align: center;
    color: black;
}
.body3 .food-menu h5{

    color: rgb(240, 121, 10);
}

.body3 .images{
    display: flex;
    gap: 19%;
    justify-content: center;

}


.body3 .details{
display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;
}
.body3 .details .imges{
    
    display: flex;
  text-align: center;
    flex-direction: column;

}

.body3 .details .imges .text h2{
    color:  rgb(240, 121, 10);
}
.body3 .details .imges img{
    width: 30%;
}










.body4{
    border-radius: 29px;
    position: relative;
    margin: auto;
    margin-bottom: 5%;
    background-color: #babec1;
    width: 70%;
    height: 242px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.body4 .text{
    margin-bottom: 2%;
}
.body4 .text h2{
    background-color:  #babec1;
    color: black;
    
}
.body4 p a{
    background-color:  rgb(240, 121, 10);
    color: black;
}
.body4 p{
    background-color: rgb(240, 121, 10);
    width: 79px;
    padding-top: 3px;
    height: 30px;
    border-radius: 10px;
}
.body4 p:hover{
transition: .4s;
transform: scale(1.2);
}


.body5{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}
.body5 .manu{
    display: flex;
    flex-direction: column;
    position: relative;
}
.body5 .manu .lin h3{
    display: flex;
   
}

.body5 .manu .lin:before{
    content: "";
    position: absolute;
    top: 102%;
    width: 16%;
    height: 3px;
    z-index: 1;
    background-color: rgb(240, 121, 10);
}
.body5 .manu:hover .lin:before{
    transition: 5s;
    width: 80%;
}
.body5 .manu .lin{
    position: relative;
}
.body5 .manu .gar a{
   
    color: #babec1;
   
}
.body5 .manu .gar{
    padding-top: 8%;
}
.body5 .manu .r{
    display: flex;
    justify-content: space-evenly;
    gap: 8%;
    padding-top: 16%;
   
}
.body5 .manu .r i{
    color: #ff8115;
    text-align: center;
    border-radius: 7px;
    padding: 0 9%;
    padding-top: 5px;
    height: 25px;
    transform: scale(1.8);
}
.body5 .manu .r i:hover{
transform: scale(1.4);
transition: .2s;     
background-color: #babec1;
color: rgb(2, 6, 24);

}
.body5 .manu .gar:hover{
   transform: translate(-25px);
   transition-duration: .8s;
   
   
    }
    .body5 .manu .gar:hover ,.body5 .manu .lin h3::before{
        width: 80%;
    }
    .body5 .manu .gar:hover a
    { color:  rgb(240, 121, 10);}




    @media (max-width: 767px ) {
        *{
            text-align: center;
        }

        .continer .head .right .cancel{
            display: none;
            font-size: 9vw;
            top: -4vw;
            color: #ff8115;
            position: absolute;

        }
        .continer .head .right .men:hover ~ .cancel{
            display: flex;
        }
        .continer .head .right .men:hover{
            display: none;
        }
       
        .continer .head .right .men:hover +ul{
            display: flex;
            transform: translate(-104vw, 0);
            transition: .7s;
            position: absolute;
        }
        /*
        .continer .head .right i:hover +ul::before{
            content: "";
            top: -3vw;
            position: absolute;
            border: solid 2.3vw;
            border-color:  rgb(240, 121, 10) transparent transparent transparent;
        }
        */
      
        .continer .head .right .men{
            display: block;
            top: -4vw;
            position: absolute;
            font-size: 8vw;
            color: rgb(240, 121, 10);
        }


        .continer .head {
            display: flex;
            
            width: 100%;
            z-index: 10;
            position: fixed;
            gap: 8%;
            justify-content: space-around;
            background-color: rgb(2, 6, 24);
            height: 103px;
            align-items: center;
            padding-top: 5%;
        }
        .continer .head .left h2 {
            color: rgb(240, 121, 10);
            font-size: 34px;
        }
        .continer .head .right ul {
    
            background-color: rgb(18 24 49);
            width: 100vw;
            top: 10vw;
            left: 26vw;
            border-radius: 0 0 30px 30px;
            padding: 5vw;
            height: 40vh;
            font-size: 4vw;
            position: absolute;
            flex-direction: column;
            justify-content: space-around;
        }
        .continer .head .right{
            display: flex;
            position: relative;
            right: 6vw;
            top: 0vw;
            flex-direction: column;
            
        }
        .body0 {
            height: 650px;
            padding-bottom: 1%;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


        .body0 .left {
            margin-top: 65%;
        }
        .body0 .left h2.full {
            color: rgb(240, 121, 10);
            font-weight: 900;
            font-size: 38px;
            padding-bottom: 20px;
        }
        .body0 .left .bot {
            padding-top: 2px;
            margin: 11% auto;
            width: 131px;
            background-color: rgb(240, 121, 10);
            height: 30px;
            border-radius: 30px;
            text-align: center;
        }

        .body0 .right {
            padding: 1%;
        }
        .body0 .right img {
            width: 82vw;
            height: 96%;
            margin: auto;
        }
        .body1 {
            margin-top: 64%;
            display: flex;
            flex-direction: column-reverse;
            gap: 13%;
            justify-content: center;
            align-items: center;
            height: 510px;
        }
        .body1 .right{
            font-size: 3.5vw;
            padding: 0 4%;
        }
        .body1 .right h5 {
            color: rgb(240, 121, 10);
            font-size: 10vw;
        }
        .body1 .right h2 {
            padding-bottom: 3%;
            font-size: 5vw;
        }
        .body1 .right .learn {
            border-radius: 9px;
            width: 100px;
            text-align: center;
            margin: 6% auto;
            padding-top: 5px;
            height: 32px;
            background-color: rgb(240, 121, 10);
            margin-top: 4%;
        }
        .body1 .left img {
            width: 92%;
            height: 260px;
        }
        .body2 {
            margin: 23% auto;
        }
        .body2 .food-menu h5 {
            color: rgb(240, 121, 10);
            font-size: 8vw;
        }
        .body2 .images {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            align-items: center;
        }
        .body2 .images .squre {
            border-radius: 20px;
            width: 53%;
            background-color: aliceblue;
            text-align: center;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .body3 {
            margin-bottom: 13%;
            margin-top: -6%;
        }
        .body3 .food-menu {
            text-align: center;
            padding-bottom: 5%;
            font-size: 3vw;
        }
        .body3 .food-menu h5 {
            color: rgb(240, 121, 10);
            font-size: 11vw;
           
        }
        .body3 .details {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            gap: 47px;
            flex-direction: column;
        }
        .body3 .details .imges .text1{
            font-size: 4vw;
        }
        .body4 {
            border-radius: 29px;
            position: relative;
            margin: auto;
            margin-bottom: 5%;
            background-color: #babec1;
            width: 78%;
            height: 190px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        .body4 p {
            background-color: rgb(240, 121, 10);
            width: 79px;
            padding-top: 3px;
            height: 30px;
            border-radius: 10px;
        }
        .body5 {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-bottom: 10%;
            flex-wrap: nowrap;
        }
        .body5 .manu {
            display: flex;
            flex-direction: column;
            padding: 8%;
            font-size: 22px;
            margin: auto;
            align-items: center;
            position: relative;
        }
        .body5 .manu .lin:before {
            left: 0;
            content: "";
            position: absolute;
            top: 123%;
            width: 26%;
            height: 3px;
            z-index: 1;
            background-color: rgb(240, 121, 10);
        }
        .body5 .manu .gar {
            margin-top: 6%;
            font-size: 20px;
        }
        .body5 .manu .r {
            display: flex;
            justify-content: space-evenly;
            gap: 28%;
            font-size: 29px;
            width: 31%;
            padding-top: 16%;
        }
        .body5 .manu .r i {
            color:  rgb(240, 121, 10);
            text-align: center;
            border-radius: 10px;
            transform: scale(1.3);
            margin-top: 20%;
            padding: 0 15%;
            padding-top: 5px;
            height: 39px;
        }
        .body5 .manu .r i:hover{
            transform: scale(1.3);
        }
        .body1 .left {
            position: relative;
            left: 0px;
        }
    
      
    }

    @media (min-width : 768px ) and (max-width: 992px )  {

        *{
            text-align: center;
        }
        .body1 .left {
            position: relative;
            left: 0px;
        }
       
        .continer .head .right .cancel{
            display: none;
            font-size: 9vw;
            top: -4vw;
            color: #ff8115;
            position: absolute;

        }
        .continer .head .right .men:hover ~ .cancel{
            display: flex;
        }
        .continer .head .right .men:hover{
            display: none;
        }
       
        .continer .head .right .men:hover +ul{
            display: flex;
            transform: translate(-104vw, 0);
            transition: .7s;
            position: absolute;
        }
        /*
        .continer .head .right i:hover +ul::before{
            content: "";
            top: -3vw;
            position: absolute;
            border: solid 2.3vw;
            border-color:  rgb(240, 121, 10) transparent transparent transparent;
        }
        */
      
        .continer .head .right .men{
            display: block;
            top: -4vw;
            position: absolute;
            font-size: 8vw;
            color: rgb(240, 121, 10);
        }


        .continer .head {
            display: flex;
            
            width: 100%;
            z-index: 10;
            position: fixed;
            gap: 8%;
            justify-content: space-around;
            background-color: rgb(2, 6, 24);
            height: 103px;
            align-items: center;
            padding-top: 5%;
        }
        .continer .head .left h2 {
            color: rgb(240, 121, 10);
            font-size: 34px;
        }
        .continer .head .right ul {
    
            background-color: rgb(18 24 49);
            width: 100vw;
            top: 10vw;
            left: 26vw;
            border-radius: 0 0 30px 30px;
            padding: 5vw;
            height: 40vh;
            font-size: 4vw;
            position: absolute;
            flex-direction: column;
            justify-content: space-around;
        }
        .continer .head .right{
            display: flex;
            position: relative;
            right: 6vw;
            top: 0vw;
            flex-direction: column;
            
        }
        .body0 {
            height: 650px;
            padding: 45% 0;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


        .body0 .left {
            margin-top: 65%;
        }
        .body0 .left h2.full {
            color: rgb(240, 121, 10);
            font-weight: 900;
            font-size: 8vw;
            padding-bottom: 20px;
        }
        .body0 .left h2{
            font-size: 4vw;
        }
        .body0 .left .bot {
            padding-top: 2px;
            margin: 11% auto;
            width: 33vw;
            background-color: rgb(240, 121, 10);
            height: 5vh;
            border-radius: 30px;
            text-align: center;
            font-size: 4vw;
        }

        .body0 .right {
            padding: 1%;
        }
        .body0 .right img {
            width: 70vw;
            height: 74%;
            margin: auto;
        }
          
          .body1 {
            margin-top: 64%;
            display: flex;
            flex-direction: column-reverse;
            gap: 13%;
            justify-content: center;
            align-items: center;
            height: 510px;
            margin-bottom: 46%;
        }
        .body1 .right{
            font-size: 3.5vw;
            padding: 0 9%;
        }
        .body1 .right h5 {
            color: rgb(240, 121, 10);
            font-size: 10vw;
        }
        .body1 .right h2 {
            padding-bottom: 3%;
            font-size: 5vw;
        }
        .body1 .right .learn {
            border-radius: 9px;
            width: 24vw;
            text-align: center;
            margin: 6% auto;
            padding-top: 5px;
            height:5vh;
            background-color: rgb(240, 121, 10);
            margin-top: 4%;
        }
        .body1 .left img {
            width: 60vw;
            height: 34vh;
        }
        .body2 {
            margin: 23% auto;
        }
        .body2 .food-menu h5 {
            color: rgb(240, 121, 10);
            font-size: 8vw;
        }
        .body2 .food-menu h2{
            font-size: 4vw;
        }
        .body2 .images .squre .text, .body2 .images .squre .text h2 {
            color: black;
            font-size: 3vw;
        }
        .body2 .images .squre .price {
            color: rgb(240, 121, 10);
            font-size: 4vw;
        }
        .body2 .images {
            display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
        }
        .body2 .images .squre {
            border-radius: 20px;
            width: 43vw;
            background-color: aliceblue;
            text-align: center;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .body3 {
            margin-bottom: 13%;
            margin-top: -6%;
        }
        .body3 .food-menu {
            text-align: center;
            padding-bottom: 5%;
            font-size: 3vw;
        }
        .body3 .food-menu h5 {
            color: rgb(240, 121, 10);
            font-size: 11vw;
           
        }
        .body3 .details {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            gap: 47px;
            flex-direction: column;
        }
        .body3 .details .imges {
            display: flex;
            padding: 0 8vw;
            text-align: center;
            flex-direction: column;
        }
        .body3 .details .imges .text1{
            font-size: 4vw;
        }
        .body3 .details .imges .text h2 {
            color: rgb(240, 121, 10);
            font-size: 5vw;
        }
        .body4 {
            border-radius: 29px;
            position: relative;
            margin: auto;
            margin-bottom: 5%;
            background-color: #babec1;
            width: 78%;
            height: 190px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        .body4 .text {
            margin-bottom: 2%;
            font-size: 3vw;
        }
        .body4 p {
            background-color: rgb(240, 121, 10);
            width: 23vw;
            padding-top: 3px;
            font-size: 4vw;
            height: 4vh;
            border-radius: 9%
        }
        .body5 {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-bottom: 10%;
            flex-wrap: nowrap;
        }
        .body5 .manu {
            display: flex;
            flex-direction: column;
            padding: 8%;
            font-size: 22px;
            margin: auto;
            align-items: center;
            position: relative;
        }
        .body5 .manu .lin {
            position: relative;
            font-size: 5vw;
        }
        .body5 .manu .lin:before {
            left: 0;
            content: "";
            position: absolute;
            top: 123%;
            width: 26%;
            height: 3px;
            z-index: 1;
            background-color: rgb(240, 121, 10);
        }

        .body5 .manu .gar {
            margin-top: 6%;
            font-size: 4vw;
        }
        .body5 .manu .r {
            display: flex;
            justify-content: space-evenly;
            gap: 28%;
            font-size: 29px;
            width: 31%;
            padding-top: 16%;
        }
        .body5 .manu .r i {
            color: rgb(240, 121, 10);
    text-align: center;
    border-radius: 10px;
    transform: scale(2.34);
    margin: 20% 16%;
    padding: 0 20%;
    padding-top: 5px;
    height: 39px;
        }
        .body5 .manu .r i:hover{
            transform: scale(1.7);
        }
        
       


    }





















    

/* 
    @media (min-width : 768px ) and (max-width: 992px )  {
        *{
            text-align: center;
        }
        .continer .head {
            display: flex;
            width: 100%;
            z-index: 10;
            position: fixed;
            gap: 22%;
            justify-content: center;
            background-color: rgb(2, 6, 24);
            height: 156px;
            align-items: center;
            padding-top: 5%;
        }
        .body0 {
            height: 650px;
            padding-bottom: 1%;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .continer .head .right i:hover +ul{
            display: flex;
        }
        .continer .head .right i:hover{
            position: relative;
            left: 14vw;
            top: 30vw;
        }
        .continer .head .right i{
            display: block;
            font-size: 6vw;
            color: orange;
        }
        .continer .head .right ul {
    
            background-color: rgba(2, 6, 24, 0.637);
            width: 28vw;
            top: 33vw;
            border-radius: 20%;
            display: none;
            height: 42vh;
            font-size: 4vw;
            position: relative;
            flex-direction: column;
            justify-content: space-around;
            left: 18vw;
        }
        .continer .head .left h2 {
            color: rgb(240, 121, 10);
            font-size: 6vw;
        }



        .body0 .left {
            margin-top: 65%;
        }
        .body0 .left .bot {
            padding-top: 2px;
            margin: 11% auto;
            width: 131px;
            background-color: rgb(240, 121, 10);
            height: 30px;
            border-radius: 30px;
            text-align: center;
        }


        .body0 .right {
            padding: 1%;
        }
        .body0 .right img {
            width: 92%;
            height: 380px;
            margin: auto;
        }
        .body1 {
            margin-top: 64%;
            display: flex;
            flex-direction: column-reverse;
            gap: 13%;
            justify-content: center;
            align-items: center;
            height: 510px;
        }
        .body1 .right h5 {
            color: rgb(240, 121, 10);
            font-size: 25px;
        }
        .body1 .right .learn {
            border-radius: 9px;
            width: 100px;
            text-align: center;
            margin: 6% auto;
            padding-top: 5px;
            height: 32px;
            background-color: rgb(240, 121, 10);
            margin-top: 4%;
        }
        .body1 .left img {
            width: 326px;
            height: 264px;
        }
        .body2 {
            margin: 23% auto;
        }
        .body2 .food-menu h5 {
            color: rgb(240, 121, 10);
            font-size: 24px;
        }
        .body2 .images {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            align-items: center;
        }
        .body2 .images .squre {
            border-radius: 20px;
            width: 38%;
            background-color: aliceblue;
            text-align: center;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .body3 {
            margin-bottom: 13%;
            margin-top: -6%;
        }
        .body3 .food-menu {
            text-align: center;
            padding-bottom: 5%;
        }
        .body3 .food-menu h5 {
            color: rgb(240, 121, 10);
            font-size: 24px;
        }
        .body3 .details {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            gap: 47px;
            flex-direction: column;
        }
        .body4 {
            border-radius: 29px;
            position: relative;
            margin: auto;
            margin-bottom: 5%;
            background-color: #babec1;
            width: 70%;
            height: 242px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        .body4 p {
            background-color: rgb(240, 121, 10);
            width: 79px;
            padding-top: 3px;
            height: 30px;
            border-radius: 10px;
        }
        .body5 {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin-bottom: 10%;
            flex-wrap: nowrap;
        }
        .body5 .manu {
            display: flex;
            flex-direction: column;
            padding: 8%;
            font-size: 22px;
            margin: auto;
            align-items: center;
            position: relative;
        }
        .body5 .manu .lin:before {
            left: 0;
            content: "";
            position: absolute;
            top: 123%;
            width: 26%;
            height: 3px;
            z-index: 1;
            background-color: rgb(240, 121, 10);
        }
        .body5 .manu .gar {
            margin-top: 6%;
            font-size: 20px;
        }
        .body5 .manu .r {
            display: flex;
            justify-content: space-evenly;
            gap: 28%;
            font-size: 29px;
            width: 31%;
            padding-top: 16%;
        }
        .body5 .manu .r i {
            color: white;
            text-align: center;
            border-radius: 10px;
            padding-top: 5px;
            height: 39px;
            width: 45px;
            background-color: rgb(240, 121, 10);
        }
       
      

    }

   
    @media (min-width: 768px) and (max-width:1000px){
        .continer .head {
            display: flex;
            width: 100%;
            z-index: 10;
            position: fixed;
            gap: 22%;
            justify-content: center;
            background-color: rgb(2, 6, 24);
            height: 156px;
            align-items: center;
            padding-top: 5%;
        }
       
        .continer .head .right i:hover +ul{
            display: flex;
        }
        .continer .head .right i:hover{
            position: relative;
            left: 29vw;
            top: 30vw;
        }
        .continer .head .right i{
            display: block;
            font-size: 6vw;
            color: orange;
        }
        .continer .head .left h2 {
            
            font-size: 7vw;
        }
        .continer .head .right ul {
    
            background-color: rgba(2, 6, 24, 0.637);
            width: 28vw;
            top: 33vw;
            border-radius: 20%;
            display: none;
            padding-left: 27%;
            height: 42vh;
            font-size: 4vw;
            position: relative;
            flex-direction: column;
            justify-content: space-around;
            left: 18vw;
        }
        .body0 {
            height: 650px;
            padding: 19% 2% 0% 5%;
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .body0 .right img {
            width: 103%;
            height: 392px;
        }
        .body1 {
            display: flex;
            gap: 10%;
            justify-content: space-evenly;
            align-items: center;
            height: 500px;
        }
        .body1 .left img {
            width: 108%;
            padding-left: 11%;
            height: 304px;
        }
        .body2 .images {
            display: flex;
            gap: 4%;
            justify-content: center;
        }
        .body2 .images .squre {
            border-radius: 20px;
            width: 24%;
            background-color: aliceblue;
            text-align: center;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        .body3 .details {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .body3 .details .imges {
            display: flex;
            text-align: center;
            width: 29%;
            flex-direction: column;
        }
        .body4 {
            border-radius: 29px;
            position: relative;
            margin: auto;
            margin-bottom: 5%;
            background-color: #babec1;
            width: 62%;
            height: 200px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
    }

    /* meduim screen */
    